<form [formGroup]="loginForm">
    <p-card header="Ingresar al sistema" [style]="{width:'360px'}">
        <div class="field">
            <input type="text" pInputText formControlName="email" 
            placeholder="Ingresa Email" class="w-full"/>
        </div>

        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="bloc, p-error">
            <div *ngIf="email.hasError('required')">Ingresa Email</div>
            <div *ngIf="email.hasError('email')">Email incorrecto</div>
        </small>

        <div class="field">
            <p-password formControlName="password" placeholder="Ingresa contraseña" [toggleMask]="true" styleClass="w-full"></p-password>
        </div>
        
        <p-button label="Ingresar" styleClass="w-full"></p-button>

        <div class="mt2">
            ¿No tienes cuenta? <a routerLink="/register">Registrar</a>
        </div>
    </p-card>
</form>
